{% extends "layout.html" %}
{% import "macros/blog.html" as blog %}
{% block graph %}
    <meta property="og:title" content="{{ this.title}} | Tor Project">
    <meta property="og:description" content="{{ blog.render_summary(this)|striptags }}">
    <meta property="og:image" content="{{ blog.image_url(this, external=True) }}">
    <meta property="og:url" content="{{ url_to(this, external=True) }}">
    <meta name="twitter:card" content="summary_large_image">
{% endblock %}
{% block body %}
  {{ blog.render(this) }}
{% endblock %}
