{%- import "macros/events.html" as event -%}
{%- import "macros/blog.html" as blog -%}
{%- set upcoming_events = site.get('/event').children.filter(F.start_date >= today).order_by('start_date') -%}
{%- if upcoming_events %}
<section class="events">
    <h2 class="section-title">Upcoming Events</h2>
  {%- for upcoming_event in upcoming_events %}
  {{ event.render(upcoming_event, from_sidebar=true) }}
  {%- endfor -%}
</section>
{% endif %}
{%- set recent_posts = site.get('/blog').children.order_by('-pub_date').limit(3)|limit_dependencies -%}
<section class="recent">
    <h2 class="section-title">Recent Updates</h2>
{%- for recent_post in recent_posts %}
  {{ blog.render(recent_post, from_sidebar=true) }}
{%- endfor -%}
</section>
